*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html{
    scroll-behavior: smooth;
}
/* ******************style for*******************header.html****************** */

.header{
    background-color: #024050;
    display: flex;
    justify-content: space-between;         
    align-items: center;       
    width: 97vw;
    padding: 1.5vw;
    /* position: fixed; */
    color: #cdf5ff;
}
#header-item{
    margin-top: 1vw;
}
.menu-item{
    margin: 1vw;
    color:#cdf5ff;
    text-decoration:#cdf5ff;
    font-size: 1em
}
/* ******************style for*******************index.html****************** */

.search{
    width: 35%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.search-icon {
    margin: 1%;
}
.search input {
    width: 80%;
    height: 100%;
}
 input:focus, input:active, button:focus, button:active, select:focus,select:active{
    border: none;
    outline: none;
}
#search {
    background-color:#ecfbff;
    color: black;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    justify-content: space-between;         
    align-items: center;       
    width: 98vw;
    padding: 1vw;
    color: #cdf5ff;
    background-color: #5a7f88;
}
#city-select {
    width: 200px;
    padding: 3px;
    cursor: pointer;
}
#theatre-select {
    width: 200px;
    padding: 3px;
    cursor: pointer;
}

.recommendation-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
#leftscroll{

margin: 1%;
cursor: pointer;
}
#rightscroll{

margin: 1%;
cursor: pointer;
}

.movie-recommendation {
    margin-top: 2%;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly;     */
    overflow-x: auto;    
    scroll-behavior: smooth;
    /* background-color: #6da0ad; */
}
.movie-recommendation::-webkit-scrollbar{
    overflow: hidden;
}
.movie-data {
    width: 150px;
    background-color:#5a7f88;
    top:45.5%;
    color:#cdf5ff;
    font-size: smaller;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-view{
    margin:2% 2% 2% 1%;
    text-align: center;
}

.movies{
    margin: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #024050;
}

#l-scroll, #r-scroll {
    visibility: hidden;
}

/* ******************style for*******************login.html****************** */

.login-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    margin-top: 10vh;
}
.register-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 10vh;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    color: rgb(9, 68, 68);
}

.form-input {
    width: 70%;
    margin: 3%;
    height: 20px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #008080;
}
.form-input:focus,.form-input:active {
    outline: none;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(2, 71, 71);
}
.form-button {
    width: 70%;
    margin: 5%;
    height: 30px;
    background-color: teal;
    color: white;
    cursor: pointer;
}
.form-radio {
    display: flex;
    justify-content: space-between;
    width: 70%;
}



/********************style for**************movie.html**********************/
.movie-page {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.book-view{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10%;
    justify-content: space-evenly;
    align-items: center;
}
.seat-container {
    display: flex;
    width: 200px;
    height: 250px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
}
.seats {
    display: inline ;
}
.book-button {
    width: 200px;
    margin: 5%;
    height: 30px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

#ticket-main {
    display: none;
    position: fixed;
    height: 60vh;
    width: 60vw;
    top: 20%;
    left: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #008080;
}
#close {
    position: absolute;
    left: 96%;
    top: 5%;
    font-size: x-large;
    color: #cdf5ff;
    cursor: pointer;
}


.ticket-details{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 90%;
    width: 50%;
    justify-content: space-evenly;

}
/********************style for**************viewmoviedetails.html**********************/

#movie-details-page{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.movie-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    
}
 .detail-data {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     height: 100%;
     width: 50vw;
 }
